@import url('https://fonts.cdnfonts.com/css/luminari');

 /* normal default zero settings */
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background: black;
}

.home-button{
	box-shadow: 0px 0px 50px 33px rgb(13, 255, 0);
	background-image: url("../assets/console.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.home-button p{
	display: inline-block;
	box-shadow: 0px 0px 50px 13px rgb(10, 169, 1);
	color: rgb(51, 255, 0);
	margin: 2%;
	border: 10px solid rgb(0, 255, 106);
	padding: 30px;

	font-size: 80px;
}

.home-button span{
	color: limegreen;
}

/* since this is a div, this rule will apply everything inside the div */
.buttons{
	float: right;
	font-family: 'Luminari', serif;
	font-size: 20px;
}

.buttons span{	
	display: inline-block;
	border: 10px solid rgb(13, 255, 0);
	border-radius: 20px;
	padding: 30px;
	background-color: black;
	color: rgb(68, 255, 0);
}

.buttons span:hover{
	border: 10px solid indigo;
	border-radius: 20px;
	color: indigo;
	background-color: rgb(187, 255, 0);
}

.buttons select{
	font-size: 20px;
	border: 10px solid indigo;
	border-radius: 20px;
	/* padding: 10px; */
	color: indigo;
	background-color: rgb(187, 255, 0);

}

@media (max-width: 1000px){
	.home-button p {
		margin: 0%;
		padding: 0%;
		width: 94%;
		font-size: 60px;

	}

	.buttons {
		float: none;
		width: 85%;
		margin-left: 3%;
	}

	
	.buttons a{
		display: block;
	}
	
	.buttons span{
		width: 88%;
		position: relative;
		border: 5px solid yellowgreen;
		border-radius: 0%;
		text-align: center;
	}

	.buttons span:hover{
		border: 5px solid indigo;

	}
	
	.projects{
		margin: 20% 0 10% 0;
	}


	.buttons select{
		margin: 0%;
		width: 100%;
	
	}

}


.body-box{
	/* box-shadow: 0px 0px 50px 13px orangered; */
	margin: 4% 35% 0 35%;
	border: 1px solid yellowgreen;
	color: orangered;
	background-color: black;
}


.message h1{
	margin-left: 30%;
	margin-right: 63%;
	border-radius: 15px;
	/* box-shadow: 0px 0px 50px 13px blueviolet; */
	/* padding: 0 45% 0 45%; */
	/* border: 2px solid purple; */
	/* background-color: purple; */
}

.message span {
	color: white;
	/* border: 10px solid limegreen; */
	font-size: 60px;
}

.message h3{
	padding: 1% 0 0 30%;
	
}

.message h4{
	padding: 5% 0 0 30%;
}


canvas{
	position: absolute;
	z-index: -1;
}
