*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: black;
}

.header{
  background-image: url("../assets/SpaceBackground-4.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:100%;
  color: lime;
  padding: 40px;
}

.title{
  display: inline-block;
  background-color: black;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}

.title a{
  color: lime;
  font-size: 40px;
  font-family: American Typewritrter, serif;
}

.header ul{
  float: right;
}

.header li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

.header li a{
  color: lime;
  font-size: 30px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 20px
}

.header li a:hover{
  color: indigo;
  background: lawngreen;
  transition: .2s;
}


.divider{
  color: lime;
  width: 100%;
}



.content{
  color: whitesmoke;
/*   width: 80%; */
}

.box-title{
  display: inline-block;
  margin-left: 40%;
  background-color: purple;
  color: greenyellow;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 40px;
  font-family: American Typewritrter, serif;
}


.text-box{
   width: 80%;
   padding: 10px;
   border: 5px solid lime;
   margin-left: 8%;
}

/*when the page is full screen hide the burger button*/
#check{
  display: none;
}

.checkbtn{
  font-size: 30px;
  color: lime;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}



/*table settings*/
.main-table {
  font-family: American Typewritrter, serif;
  border-collapse: collapse;
  width: 100%;
}

.main-table td, .main-table th {
  border: 1px solid lime;
  padding: 8px;
}

/*.main-table tr:nth-child(even){
  background-color: greyblue;
}*/

/*.main-table tr:hover {
  background-color: #ddd;
}*/

.main-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: greenyellow;
  color: purple;
}


.certificate{
  margin-left:30%;
}

.certificate h4 {
    padding: 0px 16px;
    color: lime;
}

.certificate img{
  width: 400px;
  height: 200px;
}

@media (max-width: 858px){

  .checkbtn{
    display: block;
  }


  .header th h1{
    padding-left: 0;
    color: black;
  }

  .header td{
    color: black;
  }

  .header ul{
    position: relative;
    width: 100%;
    height: 600px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .header ul li{
    display: block;
  }

  .header ul li a{
    font-size: 40px
  }


  #check:checked ~ ul {
    left: 0;
  }

  .box-title{
    margin-left: 0%;
  }

  .certificate{
    margin-left: 0%;
  }


}

